p {
  font-size: 0.8rem;
}
.profile-img{
  width: 30px;
}
.fw-bold-5{
  font-weight: 500!important;
}

@media screen and (max-width: 575px) {
  .es-d-none {
    display: none;
  }
  .es-p-0 {
    padding: 0;
  }
  .es-p-1 {
    padding: 0.25rem;
  }
  .es-p-2 {
    padding: 0.5rem;
  }
  .es-p-3 {
    padding: 1rem;
  }
  .es-p-4 {
    padding-top: 1.5rem;
  }
  .es-p-5 {
    padding-top: 3rem;
  }

  .es-pt-0 {
    padding-top: 0;
  }
  .es-pt-1 {
    padding-top: 0.25rem;
  }
  .es-pt-2 {
    padding-top: 0.5rem;
  }
  .es-pt-3 {
    padding-top: 1rem;
  }
  .es-pt-4 {
    padding-top: 1.5rem;
  }
  .es-pt-5 {
    padding-top: 3rem;
  }

  .es-pb-0 {
    padding-bottom: 0;
  }
  .es-pb-1 {
    padding-bottom: 0.25rem;
  }
  .es-pb-2 {
    padding-bottom: 0.5rem;
  }
  .es-pb-3 {
    padding-bottom: 1rem;
  }
  .es-pb-4 {
    padding-bottom: 1.5rem;
  }
  .es-pb-5 {
    padding-bottom: 3rem;
  }

  .es-ps-0 {
    padding-left: 0;
  }
  .es-ps-1 {
    padding-left: 0.25rem;
  }
  .es-ps-2 {
    padding-left: 0.5rem;
  }
  .es-ps-3 {
    padding-left: 1rem;
  }
  .es-ps-4 {
    padding-left: 1.5rem;
  }
  .es-ps-5 {
    padding-left: 3rem;
  }

  .es-pe-0 {
    padding-right: 0;
  }
  .es-pe-1 {
    padding-right: 0.25rem;
  }
  .es-pe-2 {
    padding-right: 0.5rem;
  }
  .es-pe-3 {
    padding-right: 1rem;
  }
  .es-pe-4 {
    padding-right: 1.5rem;
  }
  .es-pe-5 {
    padding-right: 3rem;
  }
}
